.mat-raised-button.mat-primary {
  background-color: green;
}
#conteneur1 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;


}
#conteneur
{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}
.element1{
  font-size: 25px;
  font-weight: bold;
}
.element2{
  font-style: italic;
  color: black;

}
#conteneur2{
  padding-top: 20px;
}
#conteneur3
{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;

}



