.sizeInput {
  width: 400px;
  height: 30px;
}

.sizeTextarea {
  width: 400px;
  height: 100px;
}
.mat-raised-button.mat-primary {
  background-color: blue;
  color: white;
}
.center{
  padding: 50px 200px;}


