<div class="center">
  <h1>Nouveau Post</h1>

  <div class="example-container">
    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Titre" id="titre" formControlName="titre">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description" id="description" formControlName="description">
        </textarea>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="postForm.invalid" type="submit">Soumettre</button>

    </form>
  </div>
</div>


